@use "config" as *;

.item {
  width: 250px;
  height: 350px;
  border-radius: 30px;
  margin: 5rem 0;
  overflow: hidden;
  background-color: #ffffff !important;
  color: $black;
  flex: 0 1 250px;
  margin: 2rem 1rem;
  position: relative;
  display: grid;
  align-content: space-between;
  &-img {
    width: 100%;
    margin-top: 30px;
    object-fit: contain;
    object-position: center;
    transform: rotateZ(20deg);
  }
  .shoe-brand {
    padding-left: 10px;
    color: rgba($color: $black, $alpha: 0.6);
  }
  h3 {
    padding-left: 10px;
    font-size: 1.5rem;
  }
  .shoe-price {
    text-align: center;
    background-color: $black;
    color: white;
  }
}
